header {
  background: white;
  padding: 20px 20px 20px 20px;
  position: relative;
  width: 1880px;
  height: 190px;

  background: #FFFFFF;
  border-radius: 95px;
}
.logo {
width: 200px;
height: 200px;
padding-left: 30px;
}


body {
  background: #90EE90;
}

nav li {
  display: inline;
 margin: 0 0 0 18px;
  font-size: 35px;
  justify-content: flex-end;

}
