
.fotos {
  align-items: center;
  margin: 3%;
  width: 25%;
  height: 1%;
  border-radius: 30%;
  display: inline-block;
  border-style: solid;
  border-width: 1em;
  border-color: green;
}

@media screen and (max-width: 1200px) {


    nav {
      position: absolute;
      top: 3.5em;
      right: 1em;
    }

    nav a {
    font-size: 0.6em;
    padding: 0.1em;
    }

    nav a:hover {
      color: #008000;
      text-decoration: underline;
    }

    nav li {
      position: relative;
      top: 2.5px;
      padding: 0.3em;

    }


    .logo {
      display: inline-block;
      width: 8em;
      height: 8em;
    }

  .fotos {
      border-width: 0.5em;
    margin: 1.8em;
    width: 15em;
    height: 15em;
    border-radius: 4em;
  }
}
